# SPDX-FileCopyrightText: 2025 Pier-Hugues Pellerin <ph@heykimo.com>
#
# SPDX-License-Identifier: GPL-3.0-or-later

if has guix; then
    use_guix --development guix
fi

CURRENT="$(pwd -P)"

export MAKEFLAGS="j$(nproc)"
export GUILE_LOAD_PATH=$CURRENT/modules:${GUILE_LOAD_PATH}
export GUIX_PACKAGE_PATH=$CURRENT/modules:${GUIX_PACKAGE_PATH}
