# SPDX-FileCopyrightText: 2025 2025 Pier-Hugues Pellerin <ph@heykimo.com>
#
# SPDX-License-Identifier: GPL-3.0-or-later
supervoid.org {
    root * /var/www/supervoid.org
    file_server
}

ci.supervoid.org {
	@guix_publish {
		path /*.narinfo || /file/* || /nar/* || /nix-cache-info || /signing-key.pub
	}

	handle @guix_publish {
		reverse_proxy localhost:49637
	}

	reverse_proxy 127.0.0.1:17732


	handle_path /admin/* {
		respond "access denied" 403
	}
}




substitutes.supervoid.org {
    @guix_publish {
	path /*.narinfo || /file/* || /nar/* || /nix-cache-info || /signing-key.pub
    }

    handle @guix_publish {
	reverse_proxy localhost:49637
    }

    redir / /signing-key.pub 302
}