 prefer-no-csd
  screenshot-path "~/Pictures/Screenshots/%Y%m%d-%H%M%S.png"

  xwayland-satellite {
      path "$$bin/xwayland-satellite$$"
  }

  spawn-at-startup "shepherd"

  hotkey-overlay {
      skip-at-startup
  }

  // noctalia: https://docs.noctalia.dev/getting-started/compositor-settings/niri/
  window-rule {
      geometry-corner-radius 5
      clip-to-geometry true
  }

  debug {
      // Allows notification actions and window activation from Noctalia.
      honor-xdg-activation-with-invalid-serial
  }

  layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
  }
  // end of noctalia

  overview {
    workspace-shadow {
      off
    }
  }

  layout {
      gaps 4

      background-color "transparent"
      focus-ring {
          off
      }
      border {
          off
      }
  }


 input {
      keyboard {
          repeat-delay 180
          repeat-rate 20

	  xkb {
	    layout "us,ca(fr)"
	    options "ctrl:nocaps,grp:win_space_toggle"
	  }
      }

      touchpad {
          tap
          natural-scroll
          scroll-method "two-finger"
	  accel-profile "adaptive"
	  click-method "button-areas"
      }

      warp-mouse-to-focus
  }


output "eDP-1" {
    scale 2.0
}

output "DP-1" {
    scale 1.4
}

output "DP-3" {
    scale 1.4
    transform "270"
    position x=0 y=0
}

  binds {
      XF86AudioRaiseVolume  allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "volume" "increase"; }
      XF86AudioLowerVolume  allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "volume" "decrease"; }
      XF86AudioMute         allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "volume" "muteOutput"; }
      XF86AudioMicMute      allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "volume" "muteInput"; }
      XF86AudioPlay         allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "media" "playPause"; }
      XF86AudioStop         allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "media" "pause"; }
      XF86AudioPrev         allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "media" "previous"; }
      XF86AudioNext         allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "media" "next"; }
      XF86MonBrightnessUp   allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "brightness" "increase"; }
      XF86MonBrightnessDown allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "brightness" "decrease"; }

      Mod+A           { spawn "noctalia-shell" "ipc" "call" "controlCenter" "toggle"; }
      Mod+D           { spawn "noctalia-shell" "ipc" "call" "launcher" "toggle"; }
      Mod+S           { spawn "noctalia-shell" "ipc" "call" "settings" "toggle"; }
      Mod+Alt+L           { spawn "noctalia-shell" "ipc" "call" "lockScreen" "lock"; }
      Ctrl+Alt+Delete { spawn "noctalia-shell" "ipc" "call" "sessionMenu" "toggle"; }
      Mod+Shift+E     { spawn "herd" "restart" "noctalia-shell"; }

      Mod+E       { spawn "emacsclient" "--create-frame" "--no-wait"; }
      Mod+Return  { spawn "alacritty"; }

      Mod+H                       { focus-column-left; }
      Mod+J                       { focus-window-down; }
      Mod+K                         { focus-window-up; }
      Mod+L                      { focus-column-right; }

      Mod+Shift+H                 { move-column-left; }
      Mod+Shift+J                 { move-window-down; }
      Mod+Shift+K                   { move-window-up; }
      Mod+Shift+L                { move-column-right; }

      Mod+WheelScrollDown            { focus-column-right; }
      Mod+WheelScrollUp              { focus-column-left; }

      Mod+Shift+WheelScrollDown      { move-column-right; }
      Mod+Shift+WheelScrollUp        { move-column-left; }

      Mod+Ctrl+H                  { focus-monitor-left; }
      Mod+Ctrl+L                 { focus-monitor-right; }

      Mod+Ctrl+Shift+H            { move-column-to-monitor-left; }
      Mod+Ctrl+Shift+L           { move-column-to-monitor-right; }

      Mod+Ctrl+WheelScrollDown       { focus-monitor-right; }
      Mod+Ctrl+WheelScrollUp         { focus-monitor-left; }

      Mod+Ctrl+Shift+WheelScrollDown { move-column-to-monitor-right; }
      Mod+Ctrl+Shift+WheelScrollUp   { move-column-to-monitor-left; }

      Mod+Comma                      { consume-or-expel-window-left; }
      Mod+Period                     { consume-or-expel-window-right; }
      Mod+F                          { maximize-column; }
      Mod+Shift+F                    { fullscreen-window; }
      Mod+C                          { center-column; }
      Mod+V                          { toggle-window-floating; }
      Mod+Shift+V                    { switch-focus-between-floating-and-tiling; }

      Mod+Shift+Q                    { close-window; }

      Mod+Tab repeat=false           { toggle-overview; }

      Print                          { screenshot; }
      Ctrl+Print                     { screenshot-screen; }
      Alt+Print                      { screenshot-window; }
  }

window-rule {
  match app-id="signal"
  match title="Signal"
  open-floating true
  min-width 400
  min-height 400
}

window-rule {
    match app-id="zoom"
    open-floating true
}

spawn-sh-at-startup "sleep 15; $$bin/signal-desktop$$ --use-tray-icon"